* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* resetuje domyslny margines przegladarki na każdy element strony */
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1vh;
    color: #222;
    /* font-family: 'Roboto', sans-serif; */

}

body {
    background-color: #f1f1f1;

}



header {
    height: auto;
    background-color: white;
    width: 100vw;
    position: fixed;
    z-index: 9;


}

.nav1,
.nav2,
.nav3 {
    display: inline-block;

}

.nav1 {
    width: 60vw;
    text-align: center;
    font-size: 4.8rem;
    text-transform: uppercase;



    /* letter-spacing: 5px;  */
}

.nav2 {
    width: 20vw;

}

.nav3 {
    width: 18vw;
    list-style: none;
    /* usuwa kropki przy liscie ul, mozna to zastapic grafika wlasna!! */
}

.intro {
    height: 100vh;
    width: 100vw;

    position: relative;
    background-image: url("img/adult-books-coffee-374016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



    display: flex;
    flex-direction: column;
    /* dzieki
    display: flex;
    flex-direction: column;
    marginem przesuwam sie w
    dołpoobrazie a nie rozszczepiam obrazu od headera

    */


}




.intro-title {
    width: 32vw;
    margin: 100px 34vw;
}


.intro-button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 33vw;
    /* min-width: 17vw; min-width: 400px;
    max-width: 600px; */
    margin: 50vh 34vw;
    padding: 10px 25px;
    font-size: 2.1rem;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 3px solid #d10f05e0;
    letter-spacing: 3px;
    color: whitesmoke;
    background-color: #d10f05e0;
    transition: 0.3s;
    cursor: pointer;
}

.intro-button:hover {
    background-color: #d10f05e0;
    color: whitesmoke;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.5);
}

nav {
    /* background-color:grey; */
}

nav ul {
font-size: 0;
list-style: none;
text-align: right;
padding-top: 20px
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    font-size: 1.1rem;
    padding: 10px 25px;
    text-decoration: none;
    color: #d10f05e0;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* transition: 0.2s; */
}

nav a:hover {
    border-bottom: 3px solid #d10f05e0;
}

a.btn4 {
    margin-left: 150px;
    margin-right: 150px;
    border: 3px solid #d10f05e0;
    transition: 0.2s;
    letter-spacing: 2px;

}

a.btn4:hover {
    background-color: #d10f05e0;
    color: #f1f1f1;
}

.wrapper {
    background-color: white;
    width: 70vw;
    height: 88vh;
    margin: 0 auto;
    /* padding: 20px 0; */

}


.main1 {
    /* padding: 50px 0; */
    /* margin-top: 100px; */
}






.main2 {}

.main3 {}

/* .main2 {
    margin-left: 200px;
    margin-top: 10px;
} */

.mail a {
    text-decoration: none;
}

.mail a:hover {
    text-decoration: underline;
}

.fb a {
    text-decoration: none;
}

.fb a:hover {
    text-decoration: underline;
}

.fb,
.copyright {
    display: inline-block;
}

.copyright a {
    text-decoration: none;
    /* color: #fdfefe; */
}

.copyright a:hover {
    text-decoration: underline;
}

/*

font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

background-image: url("https://i.postimg.cc/K814qrdG/evening-highway-light-streaks-2131774.jpg")




*/